In [1]:
import pandas as pd
import numpy as np

In [57]:
df_superstore = pd.read_csv("/Users/neha.p/Desktop/Unmessenger_Internship/Assignment_5/superstore.csv")
df_superstore.sample(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
4456,4457,US-2015-146745,9/3/2015,9/8/2015,Standard Class,AS-10630,Ann Steele,Home Office,United States,San Francisco,...,94110,West,OFF-BI-10003274,Office Supplies,Binders,"Avery Durable Slant Ring Binders, No Labels",6.368,2,0.2,2.1492
4088,4089,US-2014-156559,8/19/2014,8/26/2014,Standard Class,LH-16900,Lena Hernandez,Consumer,United States,Jonesboro,...,72401,South,FUR-BO-10000711,Furniture,Bookcases,"Hon Metal Bookcases, Gray",638.820,9,0.0,172.4814
8642,8643,CA-2015-108259,11/8/2015,11/15/2015,Standard Class,NS-18640,Noel Staavos,Corporate,United States,Jacksonville,...,28540,South,OFF-FA-10000624,Office Supplies,Fasteners,OIC Binder Clips,31.504,11,0.2,11.8140
7026,7027,US-2017-101840,2/6/2017,2/12/2017,Standard Class,SP-20545,Sibella Parks,Corporate,United States,New York City,...,10024,East,OFF-BI-10000279,Office Supplies,Binders,"Acco Recycled 2"" Capacity Laser Printer Hangin...",46.240,4,0.2,15.6060
8537,8538,CA-2015-157343,6/7/2015,6/11/2015,Standard Class,HD-14785,Harold Dahlen,Home Office,United States,Philadelphia,...,19143,East,OFF-PA-10000552,Office Supplies,Paper,Xerox 200,25.920,5,0.2,9.0720

In [11]:
df_superstore.shape

(9994, 21)

In [12]:
df_superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [13]:
df_superstore.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [24]:
for column in df_superstore.columns:
    print("Unique values in column {0}: {1}".format(column, len(df_superstore[column].unique())))
    if(len(df_superstore[column].unique())<20):
        print(df_superstore[column].unique())

Unique values in column Row ID: 9994
Unique values in column Order ID: 5009
Unique values in column Order Date: 1237
Unique values in column Ship Date: 1334
Unique values in column Ship Mode: 4
['Second Class' 'Standard Class' 'First Class' 'Same Day']
Unique values in column Customer ID: 793
Unique values in column Customer Name: 793
Unique values in column Segment: 3
['Consumer' 'Corporate' 'Home Office']
Unique values in column Country: 1
['United States']
Unique values in column City: 531
Unique values in column State: 49
Unique values in column Postal Code: 631
Unique values in column Region: 4
['South' 'West' 'Central' 'East']
Unique values in column Product ID: 1862
Unique values in column Category: 3
['Furniture' 'Office Supplies' 'Technology']
Unique values in column Sub-Category: 17
['Bookcases' 'Chairs' 'Labels' 'Tables' 'Storage' 'Furnishings' 'Art'
 'Phones' 'Binders' 'Appliances' 'Paper' 'Accessories' 'Envelopes'
 'Fasteners' 'Supplies' 'Machines' 'Copiers']
Unique values in column Product Name: 1850
Unique values in column Sales: 5825
Unique values in column Quantity: 14
[ 2  3  5  7  4  6  9  1  8 14 11 13 10 12]
Unique values in column Discount: 12
[0.   0.45 0.2  0.8  0.3  0.5  0.7  0.6  0.32 0.1  0.4  0.15]
Unique values in column Profit: 7287

In [26]:
df_superstore.drop("Country", axis="columns", inplace=True)

In [28]:
df_superstore.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [29]:
df_superstore.shape

(9994, 20)

In [30]:
df_superstore.sample(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
160,161,CA-2016-162733,5/11/2016,5/12/2016,First Class,TT-21070,Ted Trevino,Consumer,Los Angeles,California,90045,West,OFF-PA-10002751,Office Supplies,Paper,Xerox 1920,5.98,1,0.0,2.6910
7504,7505,CA-2016-158043,1/31/2016,2/4/2016,Second Class,JK-15325,Jason Klamczynski,Corporate,Atlantic City,New Jersey,8401,East,OFF-EN-10003134,Office Supplies,Envelopes,Staple envelope,23.36,2,0.0,11.6800
672,673,CA-2017-111178,6/15/2017,6/22/2017,Standard Class,TD-20995,Tamara Dahlen,Consumer,Quincy,Illinois,62301,Central,OFF-AR-10001954,Office Supplies,Art,Newell 331,19.56,5,0.2,1.7115
4313,4314,CA-2014-123127,9/8/2014,9/12/2014,Standard Class,SP-20620,Stefania Perrino,Corporate,Long Beach,New York,11561,East,OFF-AP-10001962,Office Supplies,Appliances,Black & Decker Filter for Double Action Dustbu...,16.78,2,0.0,4.1950
1252,1253,CA-2015-154956,7/4/2015,7/9/2015,Standard Class,IM-15070,Irene Maddox,Consumer,Milwaukee,Wisconsin,53209,Central,TEC-PH-10004165,Technology,Phones,Mitel MiVoice 5330e IP Phone,1099.96,4,0.0,285.9896

* Which regions have the most sales?            - sheet 8

* top 10 selling products                       - sheet 2

* top 10 customers                              - sheet 4

* which shipping mode is opted the most often? - sheet 10

* which Segment orders the most products?       - sheet 6

* top 5 sub-categories in each region           - sheet 5

* top 5 customers in each sub-category          - sheet 3

* highest profit products                       - sheet 9

* highest loss products                         - sheet 9 

* delays with between order and shipping

* Which states have highest and lowest profits  - sheet 8

* ordering trends throughout the year           - sheet 1, sheet 7

In [36]:
years = set()
for o_date in df_superstore["Order Date"].unique():
    years.add(o_date.split("/")[2])

In [37]:
years

{'2014', '2015', '2016', '2017'}

In [38]:
df_superstore['year_of_order'] = [odate.split("/")[2] for odate in df_superstore["Order Date"]]

In [40]:
df_superstore.sample(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,year_of_order
5400,5401,CA-2017-132262,9/21/2017,9/23/2017,First Class,ML-18265,Muhammed Lee,Consumer,Seattle,Washington,...,West,TEC-AC-10000158,Technology,Accessories,Sony 64GB Class 10 Micro SDHC R40 Memory Card,71.980,2,0.0,15.1158,2017
4772,4773,CA-2017-119746,11/23/2017,11/27/2017,Standard Class,CM-12385,Christopher Martinez,Consumer,Chicago,Illinois,...,Central,FUR-FU-10004909,Furniture,Furnishings,Contemporary Wood/Metal Frame,6.464,1,0.6,-4.0400,2017
4173,4174,CA-2016-152163,7/1/2016,7/1/2016,Same Day,JF-15355,Jay Fein,Consumer,Columbia,South Carolina,...,South,OFF-PA-10000788,Office Supplies,Paper,Xerox 210,12.960,2,0.0,6.2208,2016
9037,9038,CA-2015-166492,4/7/2015,4/10/2015,First Class,RP-19390,Resi PÃ¶lking,Consumer,New York City,New York,...,East,OFF-ST-10002214,Office Supplies,Storage,X-Rack File for Hanging Folders,22.580,2,0.0,5.8708,2015
9510,9511,CA-2016-105263,8/6/2016,8/11/2016,Standard Class,LM-17065,Liz MacKendrick,Consumer,New York City,New York,...,East,OFF-AR-10002399,Office Supplies,Art,"Dixon Prang Watercolor Pencils, 10-Color Set w...",38.340,9,0.0,15.7194,2016

In [46]:
df_superstore.groupby(by="year_of_order").size().reset_index(name='counts')

  year_of_order  counts
0          2014    1993
1          2015    2102
2          2016    2587
3          2017    3312

In [52]:
states = df_superstore["State"].unique()

In [55]:
sorted(states)

['Alabama',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [56]:
len(states)

49